.aboutus-container{
    margin-top: 20px;
    background-color: #ffffff19; 
    height: 260px;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}
.about-us-heading{
    margin-top: 7px;
    text-align: center;
    font-family: cursive;
    color:#fff;
}
.paragraph-box{
    font-size: 17px;
    font-family: cursive;
    margin-left: 5px;
    color: #fff;
}
.paragraph-box:hover{
    color: antiquewhite;
}