.body-title{
    margin-left: 33%;
    margin-top: 10%;
}
.body-tile-h1{
    color:rgba(255, 166, 2, 0.886);
    text-transform: uppercase;
    font-family: cursive;
    animation-name: animate2;
    transition: 2s;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    
}
.parabody{
    color: rgb(255, 156, 34);
    text-transform: uppercase;
    font-size: 35px;
    font-family: cursive;
    animation-name: animate;
    transition: 2s;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
.get-started-with-us{
    padding: 10px 21px 10px 21px;
    margin-top: -7px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #fff;
    color: #fff; 
    background-color:#736a6a65;
    text-transform: uppercase;
    font-family: cursive;

}
.get-started-with-us:hover{
    background-color:rgb(255, 156, 34);
    cursor: pointer;
}
@keyframes animate{

    0%{
        color: #fff;
        /* font-weight: 600; */
    }
    50%{
        color: rgb(255, 156, 34);
        /* font-size: 40px; */
    }
    100%{
        color:#fff;
    }  
}  

@keyframes animate2{

    0%{
        color: #fff;
        /* font-weight: 600; */
    }
    50%{
        color: rgb(255, 156, 34);
        /* font-size: 50px; */
    }
    100%{
        color:#fff;
    }  
}  
.text-container{
    display: flex;
    flex-direction: column;
    height: 244px;
    background-color: #ffffff19; 
    margin-top: 20px;
    border-radius: 10px;
    font-family: cursive;
    color: #fff;
    /* justify-content: center; */

}
.text-one{
    width: 200px;
    margin-top: 5px;
    margin-left: 30%;
}
.one-text{
    padding: 12px 160px 12px 160px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    animation-name: border-contact-us;
    transition: 2s;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes border-contact-us{

    0%{
        border:1px solid orange
    }
    25%{
        border:1px solid rgb(255, 156, 34);
        /* font-size: 50px; */
    }
    50%{
        border:1px solid #fff;
    }  
    100%{
        /* border:1px solid #000000; */
        border:1px solid rgb(255, 156, 34);
    } 
}  
.submit-contact-us{
    padding: 10px 21px 10px 21px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #fff;
    color: #fff; 
    background-color:#736a6a65;
    text-transform: uppercase;
    font-family: cursive;
}
.submit-contact-us:hover{
    background-color:rgb(255, 156, 34);
    cursor: pointer;
}  